body {
    background-color: #a9bbb4;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 25px 0px; 
    border-bottom: solid 5px #116927d9;
    width: 100%;
    background-color: #b0d9f3;
    color: #012225d9;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    position: relative;
    top: 200px;
    height: 50%;
    justify-items: center;
}

.container-grid {
    border: solid black 1px;
    background-color: white;
    height: 600px;
    width: 600px;
    display: grid;
    justify-content: end;
    grid-column: 6;
}

.container-settings {
    border: solid black 1px;
    background-color: white;
    height: 600px;
    width: 250px;
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-rows: 65px repeat(3, 1fr);
    justify-items: center;
}

button {
    width: 150px;
    height: 50px;
    position: relative;
    top: 65px;
    background-color: #077ec9;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.container-title {
    grid-row: 1;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #bbdfff;
    text-align: center;
}

.container-content {
    align-items: center;
}

.active {
    background-color: rgb(27, 98, 252);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #59b9f5;
    cursor: pointer;
}

.cleared {
    transition-duration: 0.4s;
}