.container {
    border: solid black 1px;
    position: relative;
    top: 250px;
    margin: auto;
    height: 600px;
    width: 600px;
    display: grid;
    justify-content: end;
}
.square {
    border: solid black 1px;
    
}